.comp-food-linups{
  padding: 5px 20px 20px;
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  .lineup_description{
    .features_list{
      li{
        position: relative;
        font-size: 1.4rem;
        line-height: 1.5;
        padding-left: 25px;
        margin-bottom: 12px;
        &::before{
          display: block;
          content: "";
          position: absolute;
          top:3px;
          left:0;
          width: 18px;
          height: 16px;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(../img/checkmark2.svg);
        }
      }
    }
  }
  .lineup_products{
    .product_item{
      margin-bottom: 2px;
      .list_ttl{
        width: 90%;
        text-align: center;
        font-size: 1.8rem;
        padding: 10px 0;
        color: #fff;
        background: #02742F;
        margin: 0 auto;
        border-radius: 200px;
        transform: translate(0%, 50%);
      }
      .product_img_wrap{
        border: 1px solid #02742F;
        border-radius: 20px;
        overflow: hidden;
      }
      &.item01, &.item03{
        .list_ttl{
          background: #02742F;
        }
        .product_img_wrap{
          border: 1px solid #02742F;
        }
      }
      &.item02{
        .list_ttl{
          background: #70A526;
        }
        .product_img_wrap{
          border: 1px solid #70A526;
        }
      }
      &.item04{
        .list_ttl{
          background: #AD2834;
        }
        .product_img_wrap{
          border: 1px solid #AD2834;
        }
      }
      &.item05{
        .list_ttl{
          background: #01316F;
        }
        .product_img_wrap{
          border: 1px solid #01316F;
        }
      }
      &.item06{
        margin-top: -10px;
        .list_ttl{
          line-height: 1.4;
          background: #EDC154;
        }
        .product_img_wrap{
          padding-bottom: 30px;
          border: 1px solid #EDC154;
          .age_ttl{
            position: relative;
            z-index: 10;
            margin: 60px 0 10px;
            text-align: center;
            font-weight: bold;
            font-size: 1.8rem;
            span{
              font-size: 2.2rem;
              color: $keyColor;
            }
          }
          .lower_txt{
            text-align: center;
            font-size: 1.4rem;
            line-height: 1.5;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-food-linups{
    padding: 60px;
    border-radius: 60px;
    background: #fff;
    .lineup_description{
      padding: 0 60px;
      @include flexSet;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      .desc_img{
        width: 35%;
      }
      .features_list{
        width: 65%;
        li{
          position: relative;
          font-size: 1.8rem;
          line-height: 1.5;
          padding-left: 25px;
          margin-bottom: 12px;
          &::before{
            top:4px;
            left:0;
            width: 22px;
            height: 20px;
          }
        }
      }
    }
    .lineup_products{
      @include flexSet;
      justify-content: center;
      .product_item{
        width: 32%;
        margin-right: 2%;
        margin-bottom: 30px;
        .list_ttl{
          width: 90%;
          text-align: center;
          font-size: 2.2rem;
          padding: 15px 0;
          transform: translate(0%, 50%);
        }
        .product_img_wrap{
          border: 1px solid #02742F;
          border-radius: 20px;
          overflow: hidden;
        }
        &.item01, &.item03{
          .product_img_wrap{
            border: 2px solid #02742F;
          }
        }
        &.item02{
          .product_img_wrap{
            border: 2px solid #70A526;
          }
        }
        &.item03{
          margin-right: 0;
        }
        &.item04{
          .product_img_wrap{
            border: 2px solid #AD2834;
          }
        }
        &.item05{
          margin-right: 0;
          .product_img_wrap{
            border: 2px solid #01316F;
          }
        }
        &.item06{
          width: 90%;
          margin-top: 0px;
          .list_ttl{
            line-height: 1;
            br{
              display: none;
            }
          }
          .product_img_wrap{
            padding-bottom: 50px;
            border: 1px solid #EDC154;
            .age_ttl{
              width: 100%;
              margin: 60px 0 10px;
              font-size: 2.2rem;
              span{
                font-size: 2.8rem;
              }
            }
            .product_img_flex{
              @include flexSet;
              width: 70%;
              margin: 0 auto;
              justify-content: center;
              img{
                width: 50%;
              }
            }
            .lower_txt{
              font-size: 1.5rem;
              margin-top: 30px;
              br{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
